.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f4f4f4;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
}

.App .appBg {
  background-color: #f4f4f4;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bfeaee;
}

.App .primaryBg {
  background-color: #bfeaee;
}

.App .highlightTextColor {
  color: #0091d5;
}

.App .highlightBg {
  background-color: #0091d5;
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bfeaee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c6ecef;
}
.mui-btn--accent {
    background-color: #0091d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #199cd9;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* App-wide text styles specified in React Studio */
.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 14.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 14.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.4px;
  font-weight: 400;
}
.App .headlineFont * {
  font-size: 19.4px;
}
.App .navBar {
  background-color: #bfeaee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
  margin-top: 14px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  margin-top: 14px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.App .layoutFlow {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  float: left;
}
.App .layoutFlow:after {
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.App .compContent {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .hasNestedComps .foreground {
  position: absolute;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* This component has a fixed-size layout */
  .Comp2 {
    min-height: 152px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 2466px */
  }
  .Comp2 > .background > .containerMinHeight {
    min-height: 152px;
  }


  .Comp2 .elRectangle773072 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 152px;
  }


  .Comp2 .elText228206 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 56px;
    height: 69px;
  }

.StartScreen {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}



  .StartScreen > .background > .elBackground242644 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }


  .StartScreen > .background > .elHeader986125 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 119px;
  }
  .StartScreen > .background > .elHeader986125 > .background > .containerMinHeight {
    min-height: 119px;
  }



  .StartScreen > .screenFgContainer > .foreground > .elAlumno954937 {
    position: absolute;
    left: 37px;
    top: 261px;
    width: 778px;
    height: 117px;
  }


  .StartScreen > .screenFgContainer > .foreground > .elTextBlock693388 {
    position: absolute;
    left: 578px;
    top: 309px;
    width: 135px;
    height: 48px;
  }


  .StartScreen > .screenFgContainer > .foreground > .elNombre117397 {
    position: absolute;
    left: 72px;
    top: 311px;
    width: 321px;
    height: 38px;
  }


  .StartScreen > .screenFgContainer > .foreground > .elRectangle168673 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 118px;
    width: 100%;
    height: 75px;
  }


  .StartScreen > .screenFgContainer > .foreground > .elFab649997 {
    line-height: 53px;
    position: absolute;
    left: 28px;
    top: 123px;
    width: 53px;
    height: 53px;
  }


  .StartScreen > .screenFgContainer > .foreground > .elEditor149664 {
    position: absolute;
    left: calc(52.0% + 0px);
    right: 0px;
    top: 193px;
    width: 921px;
    height: 887px;
  }


  .StartScreen > .screenFgContainer > .foreground > .elMail338775 {
    position: absolute;
    left: calc(54.7% + 0px);
    top: 426px;
    width: 530px;
    height: 48px;
  }


  .StartScreen > .screenFgContainer > .foreground > .elOk974232 {
    line-height: 53px;
    position: absolute;
    left: calc(54.7% + 4px);
    top: 233px;
    width: 53px;
    height: 53px;
  }


  .StartScreen > .screenFgContainer > .foreground > .elEdit286343 {
    line-height: 53px;
    position: absolute;
    left: calc(54.7% + 71px);
    top: 233px;
    width: 53px;
    height: 53px;
  }


  .StartScreen > .screenFgContainer > .foreground > .elName646329 {
    position: absolute;
    left: calc(54.7% + 0px);
    top: 308px;
    width: 532px;
    height: 46px;
  }


  .StartScreen > .screenFgContainer > .foreground > .elField2685054 {
    position: absolute;
    left: calc(54.7% + 0px);
    top: 366px;
    width: 226px;
    height: 42px;
  }

/* This component has a fixed-size layout */
  .Comp3 {
    min-height: 98px;
    overflow: hidden;
    min-width: 2466px;
     /* This component has a fixed size */
  }
  .Comp3 > .background > .containerMinHeight {
    min-height: 98px;
  }


  .Comp3 .elMenu47625 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 96px;
  }


  .Comp3 .elFab687174 {
    line-height: 68px;
    position: absolute;
    left: 20px;
    top: 10px;
    width: 68px;
    height: 68px;
  }

/* This component has a fixed-size layout */
  .Comp4 {
    min-height: 1139px;
    overflow: hidden;
    min-width: 1108px;
     /* This component has a fixed size */
  }
  .Comp4 > .background > .containerMinHeight {
    min-height: 1139px;
  }


  .Comp4 .elEditor666800 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 1139px;
  }


  .Comp4 .elMail304331 {
    position: absolute;
    left: 107px;
    top: 292px;
    width: 681px;
    height: 62px;
  }


  .Comp4 .elOk59224 {
    line-height: 68px;
    position: absolute;
    left: 885px;
    top: 43px;
    width: 68px;
    height: 68px;
  }


  .Comp4 .elEdit272070 {
    line-height: 68px;
    position: absolute;
    left: 974px;
    top: 45px;
    width: 68px;
    height: 68px;
  }


  .Comp4 .elName579982 {
    position: absolute;
    left: 106px;
    top: 141px;
    width: 683px;
    height: 59px;
  }


  .Comp4 .elField21030425 {
    position: absolute;
    left: 106px;
    top: 216px;
    width: 290px;
    height: 54px;
  }

/* This component has a fixed-size layout */
  .Comp1 {
    min-height: 1142px;
    overflow: hidden;
    min-width: 1108px;
     /* This component has a fixed size */
  }
  .Comp1 > .background > .containerMinHeight {
    min-height: 1142px;
  }


  .Comp1 .elEditor741823 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 1141px;
  }

